{
	"AlignAfterOpenBracket": "Align",
	"AlignConsecutiveAssignments": true,
	"AlignConsecutiveDeclarations": true,
	"AlignConsecutiveMacros": true,
	"AlignEscapedNewlines": true,
	"AlignOperands": "AlignAfterOperator",
	"AllowShortBlocksOnASingleLine": true,
	"AllowShortIfStatementsOnASingleLine": true,
	"AllowShortLoopsOnASingleLine": true,
	"BreakBeforeBraces": "Attach",
	"BreakBeforeTernaryOperators": true,
	"BreakConstructorInitializers": "BeforeComma",
	"BreakInheritanceList": "BeforeComma",
	"BreakStringLiterals": false,
	"ColumnLimit": 0,
	"Cpp11BracedListStyle": false,
	"FixNamespaceComments": true,
	"IncludeBlocks": "Regroup",
	"IndentCaseLabels": true,
	"IndentPPDirectives": "AfterHash",
	"IndentWidth": 4,
	"MaxEmptyLinesToKeep": 2,
	"NamespaceIndentation": "All",
	"PointerAlignment": "Left",
	"SortIncludes": true,
	"SortUsingDeclarations": true,
	"SpaceAfterCStyleCast": true,
	"SpaceAfterLogicalNot": false,
	"SpaceAfterTemplateKeyword": false,
	"SpaceBeforeAssignmentOperators": true,
	"SpaceBeforeCpp11BracedList": false,
	"SpaceBeforeCtorInitializerColon": true,
	"SpaceBeforeInheritanceColon": true,
	"SpaceBeforeRangeBasedForLoopColon": true,
	"SpaceBeforeSquareBrackets": false,
	"SpaceInEmptyBlock": false,
	"SpaceInEmptyParentheses": false,
	"SpacesBeforeTrailingComments": 4,
	"SpacesInAngles": false,
	"SpacesInCStyleCastParentheses": false,
	"SpacesInConditionalStatement": false,
	"SpacesInContainerLiterals": false,
	"SpacesInParentheses": false,
	"SpacesInSquareBrackets": false,
	"TabWidth": 4,
	"UseTab": "ForIndentation"
}