@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

body {
	background: #eee;
	color: #222;
}

body.dark {
	background: #222;
	color: #eee;
}

@media(max-width:999px) {
	body {
		font-size: 1vw;
	}
}

#toggle_dark {
	background: #3c3836;
	color: #eee;
	cursor: pointer;
}

.dark #toggle_dark {
	background: #eee;
	color: #3c3836;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	font-weight: bold;
}

.title {
	color: #772121;
	font-weight: bold;
	text-decoration: none;
	font-size: 14pt;
}

.title:hover {
	text-decoration: underline;
}

.dark .title {
	color: #ba3333;
}

#wrapper {
	overflow-x: hidden;
	width: 80ch;
	font: 12pt 'Source Code Pro', monospace;
	margin: 20px auto;
	white-space: pre-wrap;
}

#github {
	height: 1em;
}

.list {
    text-indent: -2ch;	
	padding-left: 2ch;
}

.header .title {
	float:left;
}

.header .right {
	float: right;	
} 